.GameScreen {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 100px);
}

.TopRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.BuzzBottomRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.BetweenQuestionsBottomRow {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.AnswerBottomRow {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.AnswerInputBottowRow {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 24px;
}

.BuzzButton {
    margin: 0 auto;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: red;
    font-size: large;
}

.SkipButton {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: lightgray;
}

.CenterContent {
    flex-grow: 1;
}

.Correct {
    color: green;
    font-weight: bold;
    margin-right: 20px;
}

.Incorrect {
    color: red;
    font-weight: bold;
    margin-right: 20px;
}

.NextButton {
    align-self: flex-end;
}

.BottomRow {
    display: flex;
    justify-content: space-between;
}
