.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 500px;
    margin: 0 auto; /* Dynamic horizontal margins */
}

.Title {
    position: relative;
    /* Can be absolute or fixed as well */
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
    color: purple;
}

.VersionText {
    color: darkred;
    padding: 2px;
    border-radius: 5px;
    border: solid darkred;
}

.Content {
    width: 100%;
}
