:root {
    --dark-purple: #5e17eb;
    --light-purple: #8c52ff;
    --orange: #ff784d;
    --white: #fff;
    --green: #4caf50;
    --red: red;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 500px;
    margin: 0 auto;
    height: calc(100vh - 20px);
}

@supports (-webkit-touch-callout: none) {
    .App {
        /* for ios safari 15, safe-area-inset-bottom is 0, so a special fix apply here */
        height: -webkit-fill-available;
    }
}

.Title {
    position: relative;
    /* Can be absolute or fixed as well */
    width: 100%;
    font-size: 40px;
    text-align: center;
    margin-top: 0;
    font-family: futura;
}

.QuickStyle {
    color: var(--dark-purple);
}

.QStyle {
    color: var(--light-purple);
}

.Content {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
