.StartScreen {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50vh;
}

.StartButton {
    /* Core Styles */
    display: inline-block;
    padding: 12px 24px;
    border: none;
    border-radius: 50px;
    background-color: #4caf50; /* Green */
    color: #fff;
    font-size: 16px;
    cursor: pointer;

    /* Mobile-Specific Styles */
    touch-action: manipulation; /* Enable touch gestures */
    -webkit-tap-highlight-color: transparent; /* Remove highlight on touch */

    /* Hover and Focus Styles */
    transition: all 0.2s ease-in-out;

    :hover,
    :focus {
        background-color: #3e8e41; /* Darker green */
    }
    :active {
        transform: scale(0.95); /* Slight scale effect */
    }
}
