.StartScreen {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50vh;
}

.StartButton {
    /* Core Styles */
    display: inline-block;
    padding: 12px 24px;
    border: none;
    border-radius: 10px;
    background-color: #4caf50; /* Green */
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
