.GameOver {
    text-align: center;
    color: var(--orange);
    font-size: 25px;
    margin: 10px;
}

.QuestionResult {
    margin-bottom: 15px;
}

.Share {
    margin-bottom: 15px;
}

.FinalScore {
    color: var(--green);
}

.FinalTime {
    color: var(--red);
}

.Streak {
    color: var(--dark-purple);
}

.Footer {
    display: flex;
    padding-bottom: 20px;
    justify-content: center;
}
